<div class="calculator">
    <div class="calculator__container">
        <div class="calculator__display">
            <input
                class="calculator__input"
                type="text"
                [(ngModel)]="expression"
                (keydown)="onKeyPress($event)"
            />
            <div class="calculator__result">{{ result }}</div>
        </div>
        <hr />
        <div class="calculator__buttons">
            <button class="calculator__button" (click)="onButtonClick('C')">
                C
            </button>
            <button class="calculator__button" (click)="onButtonClick('√')">
                √
            </button>
            <button class="calculator__button" (click)="onButtonClick('%')">
                %
            </button>
            <button class="calculator__button" (click)="onButtonClick('/')">
                /
            </button>
            <button class="calculator__button" (click)="onButtonClick('7')">
                7
            </button>
            <button class="calculator__button" (click)="onButtonClick('8')">
                8
            </button>
            <button class="calculator__button" (click)="onButtonClick('9')">
                9
            </button>
            <button class="calculator__button" (click)="onButtonClick('×')">
                ×
            </button>
            <button class="calculator__button" (click)="onButtonClick('4')">
                4
            </button>
            <button class="calculator__button" (click)="onButtonClick('5')">
                5
            </button>
            <button class="calculator__button" (click)="onButtonClick('6')">
                6
            </button>
            <button class="calculator__button" (click)="onButtonClick('-')">
                -
            </button>
            <button class="calculator__button" (click)="onButtonClick('1')">
                1
            </button>
            <button class="calculator__button" (click)="onButtonClick('2')">
                2
            </button>
            <button class="calculator__button" (click)="onButtonClick('3')">
                3
            </button>
            <button class="calculator__button" (click)="onButtonClick('+')">
                +
            </button>
            <button class="calculator__button" (click)="onButtonClick('00')">
                00
            </button>
            <button class="calculator__button" (click)="onButtonClick('0')">
                0
            </button>
            <button class="calculator__button" (click)="onButtonClick(',')">
                ,
            </button>
            <button class="calculator__button" (click)="onButtonClick('=')">
                =
            </button>
        </div>
    </div>
</div>
